body {
  background: #0a0a0a;
  color: #00ff9f;
  font-family: "Courier New", monospace;
  margin: 0;
}

.crt {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

/* CRT effect */
.crt::after {
  content: "";
  position: fixed;
  top:0; left:0;
  width:100%; height:100%;
  background: repeating-linear-gradient(
    0deg,
    rgba(0,255,0,0.03),
    rgba(0,255,0,0.03) 1px,
    transparent 1px,
    transparent 2px
  );
  pointer-events:none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  border: 2px solid #00ff9f;
  padding: 15px;
  margin-top: 20px;
  box-shadow: 0 0 10px #00ff9f;
}

img {
  width: 80px;
  border-radius: 50%;
}

select {
  background: black;
  color: #00ff9f;
  border: 1px solid #00ff9f;
}